<div class="block">
  <h2>Admin :: User Logins</h2>
<%= print_flash(flash[:error], 'error', 'Error') -%>
<%= print_flash(flash[:info], 'info', 'Info') -%>
  <table>
    <tr>
      <th>ID</th>
      <th>Loginname / OpenID URL</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<%= render(:partial => 'user_login_item', :collection => @user_logins) -%>
  </table>
  <%= will_paginate(@user_logins) -%>
</div>
