<div class="block">
  <h2>Login</h2>
<%= print_flash(flash[:login_error], 'error', 'Login error') -%> 
  <p>To use this site, please login using one of the boxes on the right hand side of the page.</p>
</div>
