/* main menu */

body {
  behavior: url(/stylesheets/hover.htc);
}

#menu {
  background: #000 url(/images/menu-bg.gif) repeat-x;
  float: left;
  font-size: 12px;
  height: 34px;
  text-align: center;
  width: 100%;
}

#menu ul {
  font-family: arial, verdana, sans-serif;
  list-style: none;
  margin: 0 auto;
  width: 979px;
}

#menu li {
  float: left;
  font-size: 12px;
  line-height: 34px;
  position: relative;
  width: 195px;
}

#menu a {
  color: #fff;
  display: block;
  font-weight: bold;
  text-decoration: none;
  width: 195px;
}

#menu a:hover {
  color: #f00;
}

#menu li ul {
  background-color: #9fa2a4;
  border: 2px solid #000;
  border-top: 0;
  display: block;
  left: -999em;
  position: absolute;
  text-align: left;
  width: 196px;
}

#menu li ul li {
  width: 196px;
}

#menu li ul li a {
  font-weight: normal;
  line-height: 24px;
  text-indent: 5px;
}

#menu li ul li a.break-above {
  border-top: 1px solid #000;
}

#menu li ul a {
  color: #000;
}

#menu li:hover ul {
  left: 0;
  top: auto !important;
  top: 34px;
}

#menu li li {
  display: block;
}

/* footer menu */

div.footer-menu {
  position: absolute;
  right: 0;
}
