<% if measurements.size > 0 -%>
<div class="form-row"><span class="label">Measurements:</span><span class="data"><%= measurements.size -%>
(from <%= format_date(measurements_date, nil, today) -%>)</span>
</div>
<% end -%>
