<% menu_side_bar do -%>
  <ul id="sub-nav" class="weights-sub-nav">
    <li><%= link_to('List Weights', weights_path) %></li>
    <li class="last"><%= link_to('Target Weight', targetweights_path) -%></li>
  </ul>
<% end -%>
