<% content_for :sidebar do -%>
<% menu_side_bar do -%>
  <ul id="sub-nav" class="admin-news-sub-nav">
    <li class="last"><%= link_to('List Users', admin_users_path) %></li>
  </ul>
<% end -%>
<% end -%>
