      <% menu_side_bar do -%>
      <h2>Login</h2>
      <%= render :partial => 'shared/sidebar_normal_login' -%>
      <% end -%>
      <% menu_side_bar do -%>
      <h2>OpenID Login</h2>
      <%= render :partial => 'shared/sidebar_openid_login' -%>
      <% end -%>
