<% form_tag session_url do -%>
  <div class="form-row">
    <span class="data"><input type="text" name="openid_url" class="openid_url text" size="18" value="http://"/></span>
  </div>
  <div class="form-row">
    <span class="openid">eg: http://yourname.myopenid.com</span>
  </div>
  <div class="form-row">
    <span class="data"><input type="submit" class="submit" name="login" value="Login" /></span>
  </div>
<% end -%>