<div class="block">
<h2>About</h2>
<p>The Healtheriser is a simple website designed to help track your health. At the moment it allows you to track your weight,
measurements, and to aim for a target weight. Planned features include meals and exercise tracking, as well as reports.</p>
</div>
<div class="block">
<h2>History</h2>
<p>I originally came up with the idea for a simple weight tracking website over a year ago. It started as a website that only
I could use and I was able to add different people that I was tracking weights for. It was really basic, but it did what I wanted
it to do, which was just track weights. I then decided that it should become more than what it was.</p>
<p>Back in February 2007 I deleted the code I had written and started again from scratch. This time I made it multi-user from the start,
with the logins being handled by OpenID accounts. I decided to go with OpenID accounts as I was tired of creating new logins
for each website I was visiting. I already had an OpenID account so I knew about the benefits of it. It also meant that I didn't
have to worry about storing passwords.</p>
<p>Over the next few months I got the weights working again and also added in measurements. I then started planning for the
future and added meals and exercise to my plan list. The weights and measurements went through a few face lifts each which
took a fair amount of time as I'm not that great with visual designing. Eventually I came up with the idea of having a target
weight which can be aimed for. This was pretty easy to add as it borrowed heavily from the existing weights code.</p>
<p>While putting all of the features together I learnt new ways of implementing things so I took the time to rip out some old
and stupid code and replace it with newer code that worked better. I also found many stupid bugs that I had put in the code which
helped to delay me some more. It did bring me to write better tests and to actually start doing some test driven development,
although I seem to not always be able to follow it.</p>
<p>Now we're up to the present. I'm pleased to have the website in a useable state with both the weights and measurements working
fine, along with the target weights. There are still a few design problems that need fixing, but at least everything works.
I can now get started on adding the other features and thinking of doing a whole site redesign to make things go more smoothly.</p>
</div>
