<div class="block">
  <h2>Contact</h2>
  <p>
    If you find a problem with any of the pages, have a suggestion to make, want to give me some praise,
    or any other reason, you can email me on <a href="mailto:spidahman@gmail.com">spidahman@gmail.com</a>.
    All emails will be read.
  </p>
</div>
