<div class="block">
<h2>Tour</h2>
</div>
<div class="block">
<h4>Dashboard</h4>
<%= thumbnail_image('tour', 'dashboard.jpg', 'left') -%>
<p class="tour-p">Your dashboard contains the latest entries for all of the sections. In
most cases it'll show either the last three or seven days worth of entries to keep the displayed data at a minimum. To view
earlier entries you can visit the section in question and change the date.</p>
</div>
<div class="block">
<h4>Weights</h4>
<%= thumbnail_image('tour', 'weights.jpg', 'right') -%>
<p class="tour-p">The weights list allows you to easily see how your weight is changing. Each time a new weight is entered the
difference from the previous one is calculated so that your progress is easier to understand. You can change the date to travel
back through the list to earlier weights and easily add a weight to any day that does not currently have one. The differences
are automatically recalculated when adding, editing or deleting a weight.</p>
<p class="tour-p">You can also add a target weight which will give you something to aim for. Each time a weight is entered the
difference is calculated and you can see at a glance how much is left to lose. It will also congratulate you if you reach your
target weight! You can then add a new target weight to aim for.</p>
</div>
<div class="block">
<h4>Measurements</h4>
<%= thumbnail_image('tour', 'measurements.jpg', 'left') -%>
<p class="tour-p">The measurements list acts the same way as the weights list, except it allows multiple measurements per day
in different locations. The differences will be calculated based on the location, regardless of when a measurement was last
entered for it.</p>
<p class="tour-p">I have decided not to have target measurements as most people really only track their weight. I can easily
add this feature if it turns out to be something that people really want.</p>
</div>
<div class="block">
<h4>Public Profile</h4>
<%= thumbnail_image('tour', 'profile.jpg', 'right') -%>
<p class="tour-p">All of the data that you enter is private and only visible to you. However, you do have a public profile
that other users can view. By default this does not show anything, but you can enable sections to display the very latest
entry for the section. You can also enter a bit of text describing yourself. In the future you will also be able to add a
picture, be it of you or some other image.</p>
</div>
