<fieldset>
  <legend>Weight Data</legend>
  <%= error if error %>
  <div class="form-row">
    <span class="label">Weight</span>
    <span class="data"><%= weight_entry(user.weight_units, weight) %></span>
  </div>
  <div class="form-row">
    <%= submit_tag action, :class => "submit" %>
  </div>
</fieldset>
