  <div class="news-item">
    <div class="news-item-date">
      <p><%= format_date(news.posted_on, '%d %b %Y').upcase.split(' ').join('<br />') %></p>
    </div>
    <div class="news-item-main">
      <p class="news-item-title"><%= h(news.title) %></p>
      <p class="news-item-body"><%= h(news.body) %></p>
    </div>
  </div>
