<div class="news-item">
<div class="news-item-date"><p><%= format_date(news_item.posted_on, '%d %b %Y').upcase -%></p></div>
<div class="news-item-main">
<p class="news-item-title"><%= h(news_item.title) -%></p>
<p class="news-item-body"><%= news_item.body -%></p>
</div>
</div>
