<div class="block">
<h2>Admin :: News</h2>
<p>
<table>
  <tr>
    <th>Posted On</th>
    <th>Title</th>
    <th>Body</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
<% for item in @news do -%>
<%= render :partial => 'news_item', :locals => {:item => item} -%>
<% end -%>
</table>
</p>
<%= will_paginate @news -%>
</div>
