<div class="block">
  <h2>Admin :: News</h2>
  <table>
    <tr>
      <th>Posted On</th>
      <th>Title</th>
      <th>Body</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
<%= render(:partial => 'news', :collection => @news) %>
  </table>
  <%= will_paginate(@news) -%>
</div>
