<div class="block">
  <h2>Delete Meal</h2>
  <% form_tag(meal_url(@meal), :method => :delete) do %>
    <div class="form-row">
      <span class="data">Are you sure you want to delete this meal?</span>
    </div>
    <div class="form-row">
      <span class="data"><%= submit_tag('Delete') %></span>
      <span class="data"><%= cancel_button %></span>
    </div>
  <% end %>
</div>
