<div class="block">
  <h2>New Meal</h2>
  <p>Please give your new meal a name so that it is distinguishable (ie. Breakfast, Dinner, Lunch, Snack 1).</p>
  <div class="meal_form">
    <% form_for :meal, @meal, :url => meals_path do |f| -%>
      <fieldset>
        <legend>New Meal</legend>
        <%= print_flash(flash[:error], 'error', 'Error saving meal') -%>
        <div class="form-row">
          <span class="label">Name</span>
          <span class="data"><%= f.text_field :name -%></span>
        </div>
        <div class="form-row">
          <%= submit_tag 'Add', :class => 'submit' -%>
        </div>
      </fieldset>
    <% end -%>
  </div>
</div>
