<div class="block">
  <h2>Delete Food</h2>
  <% form_tag(food_url(@food), :method => :delete) do %>
    <div class="form-row">
      <span class="data">Are you sure you want to delete this food?</span>
    </div>
    <div class="form-row">
      <span class="data"><%= submit_tag('Delete') %></span>
      <span class="data"><%= cancel_button %></span>
    </div>
  <% end %>
</div>
