<div class="block">
  <h2>Delete Food Item</h2>
  <% form_tag(meal_food_item_url(@meal, @food_item), :method => :delete) do %>
    <div class="form-row">
      <span class="data">Are you sure you want to delete this food item?</span>
    </div>
    <div class="form-row">
      <span class="data"><%= submit_tag('Delete') %></span>
      <span class="data"><%= cancel_button %></span>
    </div>
  <% end %>
</div>
