<div class="block">
  <h2><%= @food_item.name -%>: Change Quantity</h2>
  <%= print_flash(flash[:error], 'error', 'Error') %>
  <% form_tag(meal_food_item_path(@meal, @food_item), :method => :put) do -%>
  <div class="form-row">
    <span class="label">Quantity</span>
    <span class="data"><%= select('food_item', 'quantity', SELECT_QUANTITY, :selected => @food_item.quantity.to_s) -%></span>
  </div>
  <div class="form-row">
    <%= submit_tag 'Change', :class => "submit" %>
  </div>
  <% end -%>
</div>