<div class="block">
  <h2>Delete Activity</h2>
  <% form_tag(activity_url(@activity), :method => :delete) do %>
    <div class="form-row">
      <span class="data">Are you sure you want to delete this activity?</span>
    </div>
    <div class="form-row">
      <span class="data"><%= submit_tag('Delete') %></span>
      <span class="data"><%= cancel_button %></span>
    </div>
  <% end %>
</div>
