    <tr class="exercise-totals">
      <td colspan="2" class="total">Total</td>
      <td class="total duration"><%= pluralize(@total_duration, 'minute') %></td>
      <td class="number total calories"><%= @total_calories %></td>
      <td colspan="2"></td>
    </tr>
