<div class="block">
  <%= print_flash(flash[:error], 'error') -%>
  <h2>Today's Exercises</h2>
<% if @exercises.size > 0 -%>
  <table class="exercises-list">
    <%= render :partial => 'exercise_header' -%>
    <% for exercise in @exercises do -%>
    <%= render :partial => 'exercise_item', :locals => {:exercise => exercise} -%>
    <% end -%>
    <%= render :partial => 'exercise_footer', :locals => {:total_duration => @total_duration, :total_calories => @total_calories} -%>
  </table>
<% else -%>
  <p>You have not entered any exercises for today.</p>
<% end -%>
</div>
