<div class="block">
<%= print_flash(flash[:error], 'error') -%>
  <h2>Today's Exercises</h2>
<% if @exercises.size > 0 -%>
  <table class="exercises-list">
<%= render(:partial => 'exercise_header') -%>
<%= render(:partial => 'exercise', :collection => @exercises) -%>
<%= render(:partial => 'exercise_footer') -%>
  </table>
<% else -%>
  <p>You have not entered any exercises for today.</p>
<% end -%>
</div>
