<div class="block">
  <h2>New Exercise</h2>
  <%= print_flash(flash[:info], 'info') -%>
  <div id="exercises_form">
    <% form_for(@exercise) do |f| -%>
      <%= render :partial => 'exercise_form', :locals => {:f => f, :action => 'Add', :activities => @activities} -%>
    <% end -%>
  </div>
</div>
